<div class="container mt-4">
  <h2 class="text-center mb-3">{{ 'HISTORY.TITLE' | translate }}</h2>

  <div class="table-responsive-sm">
    <table class="table table-borderless table-hover rounded shadow-sm text-sm">
      <thead class="table-primary text-center">
        <tr>
          <th>{{ 'DESTINATION.COUNTRY' | translate }}</th>
          <th>{{ 'DESTINATION.CITY' | translate }}</th>
          <th>{{ 'SUMMARY.WEATHER' | translate }}</th>
          <th>{{ 'BUDGET.BUDGET_COP' | translate }}</th>
          <th>{{ 'HISTORY.CURRENCY_TYPE' | translate }}</th>
          <th>{{ 'SUMMARY.CONVERTED_BUDGET' | translate }}</th>
          <th>{{ 'HISTORY.USERNAME' | translate }}</th>
          <th>{{ 'HISTORY.DATE' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of history" class="text-center border-bottom">
          <td>{{ item.country }}</td>
          <td>{{ item.city }}</td>
          <td>{{ item.weather }} °C</td>
          <td>{{ item.budget_cop }}</td>
          <td>{{ item.exchange_rate_currency }}</td>
          <td>{{ item.converted_amount }}</td>
          <td>{{ item.user_name }}</td>
          <td>{{ item.created_at | date:'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center mt-3">
    <button class="btn btn-primary btn-sm px-4" routerLink="/">{{ 'RETURN_TO_HOME' | translate }}</button>
  </div>
</div>
